<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultConfig">
          <serviceDiscovery />
          <serviceMetadata httpGetEnabled="true"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <msmqIntegrationBinding>
        <binding name="dispatcherBinding">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="defaultConfig" name="tetsuo.services.frontdoor.RouteDispatcher">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\request"
          binding="msmqIntegrationBinding" bindingConfiguration="dispatcherBinding"
          contract="tetsuo.services.frontdoor.IRouteDispatcher" />
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
          contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
