<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="tetsuoEntities" connectionString="metadata=res://*/model.tetsuo.csdl|res://*/model.tetsuo.ssdl|res://*/model.tetsuo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=tetsuo;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="mexData" connectionString="Server=.\SQLEXPRESS;Initial Catalog=HSSI;Integrated Security=True;"/>
  </connectionStrings>
  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultConfig">
          <serviceDiscovery />
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <msmqIntegrationBinding>
        
        <binding name="dispatcherBinding" exactlyOnce="true">
          <security mode="None">
          </security>
          
        </binding>
      </msmqIntegrationBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="defaultConfig" name="Tetsuo.Services.RouteDispatcher">
        <endpoint address="msmq.formatname:DIRECT=OS:.\private$\request"
          binding="msmqIntegrationBinding" bindingConfiguration="dispatcherBinding"
          contract="Tetsuo.Core.Contracts.IRouteDispatcher" />
      </service>
    </services>
  </system.serviceModel>
</configuration>